{% extends "base.html" %}

{% block title %}Star Wars Explorer{% endblock %}
{% block content %}
 <h2>
    {{ file_name }}
 </h2>
{% if rows %}
    <form method='get'>
        <!-- {% csrf_token %} -->
        {% for key in headers %}
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off" name="filter" value={{ key }}> {{ key }}
                </label>
            </div>
        {% endfor %}
        <input type="submit" value="filter"/>
    </form>
    <table class="table table-hover table-striped">
        <tr>
            {% for key in rows.0 %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        {% for row in rows|slice:"1:" %}
            <tr>
            {% for k, v in row.items %}
                <td>{{ v }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <form method='get' action='#'>
        <input type="hidden" name="rows_count" value="{{ rows|length  }}" />
        <input type="submit" value="Load More" name="load_button"/>
    </form>
{% endif %}
{% endblock %}