<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Wars Explorer</title>
</head>
<body>
    <h1>Star Wars Explorer</h1>
 <h2>
    {{ file_name }}
 </h2>
{% if rows %}
    <table>
        <tr>
            {% for key in rows.0 %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        {% for row in rows|slice:"1:" %}
            <tr>
            {% for k, v in row.items %}
                <td>{{ v }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <form method='get' action='#'>
        <input type="hidden" name="rows_count" value="{{ rows|length  }}" />
        <input type="submit" value="Load More" name="load_button"/>
    </form> 
{% endif %}
</body>
</html>